<!DOCTYPE html>
<html>
<head>
  <title>Push Me</title>
  <meta charset="utf-8" />
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>
<body onlad="initialize()">
  <h1>Push Me</h1>
  <a href="http://192.168.1.38:3000/push">
    <div id="push_button_container">
      <button name="push_button">Push!</button>
    </div>
  </a>
  <div id="recent_push">
    <% if(pushes != []) { %>
    <table>
      <thead>
        <tr>
          <td>Timestamp</td>
          <td>Country</td>
          <td>City</td>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < pushes.length; i++) { %>
          <tr>
            <td> <%= pushes[i].tstamp %> </td>
            <td> <%= pushes[i].country %> </td>
            <td> <%= pushes[i].city %> </td>
          </tr>
      </tbody>
      <% } %>
    </table>
    <% }
    else { %>
      <div id="no_push">
        <h2>Be the first to push!</h2>
      </div>
      <% } %>
  </div>
  <script type="text/javascript" src="main.js" />
</body>
</html>
