<!DOCTYPE html>
<html>
<head>
  <title>Push Me</title>
  <meta charset="utf-8" />
</head>
<body>
  <div class="container">
  <h1>Push Me</h1>
    <a href= "/push">
      <div id="pushbutton_container">
        PUSH!
      </div>
    </a>
  <div id="recent_push">
    <% if(pushes != []) { %>
    <table>
      <thead>
        <tr>
          <td>Timestamp</td>
          <td>Country</td>
          <td>City</td>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < pushes.length; i++) { %>
          <tr>
            <td> <%= pushes[i].tstamp %> </td>
            <td> <%= pushes[i].country %> </td>
            <td> <%= pushes[i].city %> </td>
          </tr>
      </tbody>
      <% } %>
    </table>
    <% }
    else { %>
      <div id="no_push">
        <h2>Be the first to push!</h2>
      </div>
      <% } %>
  </div>
</div>
<div class="footer">
  <hr>
  <p>Brought to you by <b>Oran</b></p>
</div>
  <script src="bundle.js" ></script>
</body>
</html>
