<!DOCTYPE html>
<html>
<head>
  <title>Push Me</title>
  <meta charset="utf-8" />
  <meta name="description" content="Come and Push!" />
  <meta author="Oran Can Ören" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <div class="header">
        Push Me<br />
    </div>
    <div class="pushbutton_container">
      Let's Push<br />
      <i>Go on, push it!</i><br />
      <a href= "/push">
        <div id="pushbutton">
          PUSH!
        </div>
      </a>
    </div>
    <div class="recent_push">
      <table>
        <thead>
          <tr>
            <td>Local Time</td>
            <td>Country</td>
            <td>City</td>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < pushes.length; i++) { %>
            <tr>
              <td> <%= pushes[i].time %> </td>
              <td> <%= pushes[i].country %> </td>
              <td> <%= pushes[i].city %> </td>
            </tr>
        </tbody>
        <% } %>
      </table>
    </div>
  </div>
<div class="footer">
  <div id="oran">
    Brought to you by Oran
  </div>
</div>
<script type="text/javascript" src="bundle.js"></script>
</body>
</html>
