<!DOCTYPE html>
<html>
<head>
  <title>Push Me</title>
  <meta charset="utf-8" />
  <meta name="description" content="Come and Push!" />
  <meta author="Oran Can Ören" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
  <p id="head_title">
    <span id="title">Push Me</span><br />
    <span id="subtitle">Let's Push!</span><br />
    <i>I know you have nothing better to do</i>
  </p>
    <a href= "/push">
      <div id="pushbutton_container">
        PUSH!
      </div>
    </a>
  <div id="recent_push">
    <% if(pushes != []) { %>
    <table>
      <thead>
        <tr>
          <td>Local Time</td>
          <td>Country</td>
          <td>City</td>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < pushes.length; i++) { %>
          <tr>
            <td> <%= pushes[i].tstamp %> </td>
            <td> <%= pushes[i].country %> </td>
            <td> <%= pushes[i].city %> </td>
          </tr>
      </tbody>
      <% } %>
    </table>
    <% }
    else { %>
      <div id="no_push">
        <h2>Be the first to push!</h2>
      </div>
      <% } %>
  </div>
</div>
<div class="footer">
  <hr>
  <p>Brought to you by Oran</p>
</div>
  <script src="bundle.js" ></script>
</body>
</html>
