<!DOCTYPE html>
<html>
<head>
  <title>Push Me</title>
  <meta charset="utf-8" />
</head>
  <p id="test"></p>
  <h1>Push Me</h1>
    <a href= "/push">
      <div id="push_button_container">
        <button name="push_button">Push!</button>
      </div>
    </a>
  <div id="recent_push">
    <% if(pushes != []) { %>
    <table>
      <thead>
        <tr>
          <td>Timestamp</td>
          <td>Country</td>
          <td>City</td>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < pushes.length; i++) { %>
          <tr>
            <td> <%= pushes[i].tstamp %> </td>
            <td> <%= pushes[i].country %> </td>
            <td> <%= pushes[i].city %> </td>
          </tr>
      </tbody>
      <% } %>
    </table>
    <% }
    else { %>
      <div id="no_push">
        <h2>Be the first to push!</h2>
      </div>
      <% } %>
  </div>
  <hr>
  <div class="footer">
    <p>Brought to you by <b>Oran</b></p>
  </div>
</body>
</html>

<style>
.footer {
  text-align: right;
  font-family: serif;
}
</style>
